div.reversed {
  background-color: black;
  color: white;
}

div.gitcmd h1 {
  color: red;
}

.comment {
  color: gray;
}

strong {
  color: red;
  font-weight: normal;
}

em {
  color: green;
  font-style: normal;
}